:root {
    --header-bg: mintcream;
    --main-bg: #E6D5B8;
    --aside-btns: #E45826;
    --card-accent: red;
    --txt-light: white;
    --txt-mid: #3f3f46;
    --txt-dark: 1B1A17;

    --standard-gap: 3.125rem;
    --card-pad: 1.25rem;
    --pro-border-rad: .625rem;

    --card-shadow: filter: drop-shadow(9px 13px 8px #000000);
    --post-pad: .9375rem 1.875rem .9375rem 1.875rem;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

//colors

aside, #head-btns button {
    background-color: var(--aside-btns);
}

header, .project-card, #announcements-container, #trending-container {
    background-color: var(--header-bg);
}

main, #search-bar {
    background-color: var(--main-bg);
}

aside {
    color: var(--txt-light);
}

//aside 

aside {
    font-weight: bold;

    #dash {
        font-size: 1.875rem;
    }

    svg {
        width: 2.1875rem; 
    }
}

//header

header {
    #search-post {
        display: grid;
        grid-template-columns: 5fr 3fr;
    }

    #post {
        display: grid;
        grid-template-columns: 5fr 3fr;
        padding: var(--post-pad);

        #head-btns {
            button {
                border: none;
                border-radius: 1.5625rem;
                font-weight: bold;
                color: var(--txt-light);
                font-size: 1.25rem;
                width: 8.75rem;
                padding: .9375rem 1.875rem .9375rem 1.875rem;
            }
        }
    }
}

//main

#main-content {
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: var(--standard-gap);
    padding: var(--card-pad);

    #announcements-container, #trending-container, .project-card {
        padding: var(--card-pad);
        border-radius: var(--pro-border-rad);
    }

    h2, h3, h4 {
        font-size: 1.5625rem;
    }

    #projects {
        #projects-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: var(--standard-gap);
    
            .project-card {
                display: flex;
                padding: var(--card-pad);
                border-radius: var(--pro-border-rad);

                .stripe {
                    background-color: var(--card-accent);
                    width: 3.125rem;
                    position: absolute;
                }

                .project-title {
                    font-weight: bold;
                    font-size: 1.25rem;
                }

                .content {
                    color: var(--txt-mid);
                }

                .project-btns {
                    display: flex;
                    justify-content: flex-end;
                    padding: var(--card-pad);
                    margin: 1.25rem 0rem 0rem 0rem;
                    padding: 0;
                    
                    button {
                        background-color: transparent;
                        border: none;
                        margin: .625rem;

                        svg {
                            width: 2.1875rem;
                        }
                    }
                }
            }
        }
    }

    #announcements {
        hr {
            border-color: var(--txt-mid);
            margin: 1.25rem 0px 1.25rem 0px;
        }

        #announcements-container {
            .announcement-item {
                .announcement-title {
                    font-weight: bold;
                }

                .announcement-content {
                    margin: .3125rem 0px .3125rem 0px;
                    color: var(--txt-mid);
                    font-size: .9375rem;
                }
            }
        }
    }
}

