:root {
    // fun fact: this layout is inspired by malachite!

    --header-bg: mintcream;
    --main-bg: #d1fae5;
    --aside-btns: #059669;
    --card-accent: ;
}

body {
    display: flex;
}

//colors

aside, #head-btns button {
    background-color: var(--aside-btns);
}

header, .project-card {
    background-color: var(--header-bg);
}

main, #search-bar {
    background-color: var(--main-bg);
}

//aside 


//header



//main